.media-card {
  position: relative;
  /* min-width: 100%; */
  width: 100%;
  max-width: 350px;
  height: auto;
  padding: 20px;
  color: white;
  border-radius: 5px;
  margin: 0px auto 60px auto;
}

.media-card a {
  color: inherit;
}
.media-card .media-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.media-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.media-info {
  margin-top: 7px;
  color: inherit;
}
.media-info p.title {
  font-weight: bolder;
  font-size: 15px;
}

.media-info .genres p {
  font-weight: lighter;
  font-size: 12px;
  display: inline-block;
  margin-top: 5px;
  word-spacing: 5px;
}

.media-info .genres span:not(:first-of-type) {
  margin-left: 5px;
}

.vote-avg {
  background: rgba(247, 179, 78, 0.959);
  display: inline-block;
  text-align: center;
  padding: 5px 13px 7px 13px;
  font-weight: bolder;
  color: white;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}

@media all and (min-width: 890px) {
  .media-card:hover {
    transform: scale(1.1);
    transition: all ease-in 0.3s;
  }
}
