.media-container {
  margin-top: 100px;
  padding-top: 10px;
  padding-bottom: 50px;
}

.media-options {
  color: white;
  margin: 40px 0 20px 0;
}

.media-options ul {
  display: flex;
  justify-content: center;
}
.media-options ul li {
  margin: 0 10px;
  padding: 5px 0;
  cursor: pointer;
}

li.selected {
  border-bottom: 1px solid rgba(247, 179, 78, 0.959);
  font-size: 20px;
  transition: all ease-in 200ms;
}

.media-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 20px;
}

@media all and (min-width: 990px) {
  .media-container {
    padding-bottom: 80px;
  }
  .media-list {
    max-width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 20px;
  }

  .media-options ul {
    margin-bottom: 40px;
  }
}
