.watch-list {
  color: white;
  text-align: center;
  margin-top: 100px;
  padding-top: 10px;
}

.watch-list label {
  position: relative;
}

.watch-list label input {
  width: 250px;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
}
.watch-list label i {
  position: absolute;
  right: 5px;
  top: 0;
  font-size: 20px;
  color: #0e171d;
}

.watch-list h2 {
  font-size: 40px;
  margin: 0 0 30px 0;
}
.watch-list-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
}
.watch-list-collection:after {
  content: '';
  display: block;
  width: 450px;
}
