.watch-list {
  color: #0e171d;
}

.watch-list-card {
  display: flex;
  position: relative;
  align-items: center;
  width: 450px;
  height: 300px;
  background: #1b2933;
  background: white;
}
.watch-list-img {
  width: 50%;
  height: 100%;
}
.watch-list img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.watch-list-details {
  padding: 0 20px;
}
.watch-list-details > span {
  color: gold;
  margin-bottom: auto;
  position: absolute;
  top: 0;
  right: 5%;
  font-size: 20px;
}
.watch-list-details > * {
  margin: 10px 0 0 0;
  font-size: 20px;
  text-transform: capitalize;
}

.watch-list-details a {
  display: inline-block;
  background: #0e171d;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 15px;
  text-align: center;
}

.watch-list-details a:hover {
  background: #0e171db9;
  transition: all ease 0.5s;
}
