.about {
  background-color: #fff;
}

.app-details {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

.app-details h3 {
  font-size: 30px;
  text-transform: uppercase;
}
.app-details h3 span {
  color: rgb(148, 34, 14);
}

.app-details p {
  text-align: justify;
  margin: 30px auto 0 auto;
  width: 100%;
  max-width: 650px;
}

.app-details a {
  background: #0e171d;
  padding: 5px 15px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 3px;
}

.app-details a:hover {
  background: #141f25c0;
  transition: all ease-in 0.2s;
}

@media all and (min-width: 720px) {
}
