.watch-list-card {
  margin: 20px auto 150px auto;
  position: relative;
}
.watch-list-card a {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  margin: 20px 0;
  /* width: 200px; */
  height: 300px;
}

.watch-list-img {
  width: 50%;
  min-width: 225px;
  max-width: 225px;
  height: 100%;
}
.watch-list img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.watch-list-details {
  padding: 0 20px;
}

.watch-list-card span.icon {
  position: absolute;
  top: 15px;
  left: 95%;
  cursor: pointer;
  font-size: 20px;
  color: tomato;
}

.watch-list-details > * {
  margin: 10px 0 0 0;
  font-size: 20px;
  text-transform: capitalize;
}
.watch-list-details p span {
  font-size: 20px;
}
.watch-list-details p:last-of-type {
  font-size: 14px;
  word-spacing: 5px;
  line-height: 20px;
}

@media all and (min-width: 990px) {
  .watch-list-card {
    margin: 100px 0;
  }

  .watch-list-card a:hover {
    transform: scale(1.1);
    transition: all ease 0.2s;
  }

  .watch-list-card span.icon:hover {
    transform: scale(1.3);
    transition: all ease 0.2s;
  }
}
