.media-data {
  color: white;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 100px;
  padding-top: 10px;
}
.media-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px auto;
  padding: 0 20px;
  max-width: 1400px;
}

.media-details .media-img {
  position: relative;
  width: 80%;
  max-width: 400px;
  height: auto;
  max-height: 600px;
  margin-bottom: 20px;
}
.media-details .media-img img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.media-details .media-img .vote-avg {
  position: absolute;
  border-radius: 0;
  transform: translate(0, 0);
  left: 0;
  top: 0;
}

.media-summary {
  display: flex;
  height: 600px;
  flex-direction: column;
  text-align: justify;
  margin: 0 auto;
  padding: 0 0 0 20px;
}
.release-info p {
  margin: 5px 0 0 0;
}

.media-summary h3 {
  font-size: 30px;
  font-weight: bold;
}

.media-summary h4 {
  font-size: 20px;
  margin: 25px 0 10px 0;
  color: #40525e;
}

.media-summary p {
  max-width: 700px;
  word-spacing: 5px;
  line-height: 20px;
}
.media-summary span {
  display: inline-block;
  margin: 10px 10px;
  color: #40525e;
}

.media-summary span:first-of-type {
  margin-left: 0;
}
.media-summary .media-action-btns {
  margin-top: 25px;
  text-align: center;
}
.media-action-btns a {
  display: inline-block;
}

.similar-media {
  margin-top: 30px;
  text-align: center;
  padding: 20px 0;
}
.similar-media h3 {
  font-size: 40px;
}
.similar-media-list {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}
.similar-media-list .media-card {
  text-align: left;
}

.no-results {
  background-color: coral;
  width: fit-content;
  margin: 25px auto 0 auto;
  padding: 10px 15px;
}

.similar-media-list .similar-media-list::after {
  content: '';
  display: block;
  width: 250px;
  margin-left: auto;
}

@media all and (min-width: 990px) {
  .media-details {
    flex-direction: row;
  }
  .media-details .media-img {
    margin-left: auto;
  }

  .media-summary .media-action-btns {
    text-align: left;
    margin-top: auto;
  }
}
