.media-data {
  margin-top: 100px;
  color: white;
}
.media-details {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.media-details .media-img {
  position: relative;
  width: 350px;
  height: 500px;
  overflow: hidden;
  margin-left: auto;
}
.media-details .media-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media-details .media-img .vote-avg {
  position: absolute;
  border-radius: 0;
  transform: translate(0, 0);
  left: 87.52%;
  top: 0;
}

.media-summary {
  display: flex;
  height: 500px;
  flex-direction: column;
  text-align: justify;
  margin: 0 auto;
  padding: 0 20px;
}
.release-info p {
  margin: 10px 0;
}

.media-summary h3 {
  font-size: 35px;
  font-weight: bold;
}

.media-summary h4 {
  margin: 25px 0 10px 0;
  font-size: 20px;

  color: #40525e;
}

.media-summary p {
  max-width: 700px;
}
.media-summary span {
  display: inline-block;
  margin: 10px 10px;
  color: #40525e;
}

.media-summary .overview {
  font-size: 20px;
}
.media-summary span:first-of-type {
  margin-left: 0;
}
.media-summary .media-action-btns {
  margin-top: auto;
}

.media-summary .btn:not(:first-of-type) {
  margin: 0 10px;
}
