header {
  background: #0e171d;
  color: white;
  position: fixed;
  width: 100%;
  transition: all ease-in 0.5s;
}

nav {
  display: flex;
  margin: 0 auto;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
}
.light {
  background: white;
  color: black;
  z-index: 1;
}
.light li {
  font-size: 15px;
}

.light li > a {
  color: inherit;
}
nav h1.logo {
  color: inherit;
}

.light h1.logo {
  font-size: 22px !important;
}
nav ul {
  margin-left: auto;
  display: flex;
}

nav ul li {
  margin: 0 10px;
  font-size: 17px;
  font-weight: bold;
}
