.no-results {
  margin: 25px auto 0 auto;
}

.no-results span {
  background-color: coral;
  padding: 10px 15px;
  display: inline-block;
  width: 300px;
}

.no-results-img-container {
  width: 100%;
  max-width: 600px;
  margin: 25px auto;
  padding: 30px;
}

.no-results-img-container img {
  width: 100%;
}
