.media-reviews {
  margin: 0 auto;
  margin-top: 100px;
  padding-top: 10px;
  color: #263742;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  /* justify-content: flex-end; */
  overflow: scroll;
}

.media-reviews h3 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
  color: white;
}

.media {
  /* margin-right: auto; */
  margin-top: 70px;
  margin-bottom: 50px;
}
.media .media-card {
  margin: 0 auto 90px auto;
  width: 500px;
  height: 700px;
}

.review-box form {
  display: flex;
  flex-direction: column;
}

form button {
  display: inline-block;
  width: fit-content;
  margin: 20px auto 0 auto;
}
.review {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #263742;
  margin-bottom: 20px;
  max-width: 800px;
  padding: 20px;
}

.review span:nth-child(2) {
  display: block;
  margin: 0 0 20px 0;
}

textarea {
  resize: none;
  /* max-width: 800px; */
  margin: 0 auto;
}

.reviews {
  height: 100%;
  /* margin: 0 auto; */
}

@media all and (min-width: 990px) {
  .media-reviews {
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-around;
  }

  .media {
    margin-bottom: 0;
  }
}
