aside.genre-list {
  text-align: center;
  display: none;
}

@media all and (min-width: 720px) {
  aside.genre-list {
    display: block;
    width: 250px;
    padding: 115px 0 85px 0;

    background: #17242c;
    position: fixed;
    left: 0;
    top: 0px;
    height: 100%;
    text-align: left;
  }

  aside h3 {
    font-size: 40px;
    margin-top: 5px;
  }

  aside h3,
  aside ul {
    padding: 5px 10px;
  }
  aside ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 98%;
  }

  aside ul li {
    margin: 20px;
    cursor: pointer;
    margin: 20px 0 0 0;
    cursor: pointer;
  }
  aside ul li i {
    display: inline-block;
    font-size: 12px;
    margin: 0 5px 0 0;
  }
}
