aside.genre-list {
  text-align: center;
}

aside h3,
aside ul {
  padding: 5px 10px;
}
aside ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

aside ul li {
  margin: 20px;
  cursor: pointer;
}
aside ul li i {
  display: inline-block;
  font-size: 12px;
  margin: 0 5px 0 0;
}

@media all and (min-width: 720px) {
  aside.genre-list {
    width: 200px;
    padding: 85px 0;
    background: #17242c;
    position: fixed;
    left: 0;
    top: 0px;
    height: 100%;
    overflow: scroll;
    text-align: left;
  }
  aside ul {
    display: block;
  }

  aside ul li {
    margin: 20px 0 0 0;
    cursor: pointer;
  }
}
