* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}
body {
  background: #0e171d;
}
.logo {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 25px;
  letter-spacing: 1.3px;
  color: white;
}

ul {
  list-style-type: none;
}
a,
a:visited,
a:active {
  color: white;
  text-decoration: none;
}

.btn {
  color: #0e171d;
  border: 0;
  border-radius: 2px;
  padding: 5px 15px;
  cursor: pointer;
  outline: none;
  background: whitesmoke;
  font-size: 14px;
}
