.search-media {
  color: white;
  display: flex;
  margin-top: 150px;
  padding: 10px 0 0 0;
  flex-direction: column;
}

.search-section {
  margin: 0 auto;
  height: 200px;
  text-align: center;
}

.search-section form input {
  width: 200px;
  padding: 10px;
  border-radius: 3px;
  margin: 50px 0 25px 0;
  font-size: 16px;
}

.search-list {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}
.form-dropdown select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 200px;
  padding: 8px;
  background-color: white;
  color: black;
  background: url(https://ik.imagekit.io/aneudyimages/Arrow-down_loVLwTY-5.svg)
    no-repeat right #ddd;
  background-position: center;
  background-size: 30px;
  background-position-x: 99%;
}
select option {
  margin: 15px;
}

@media all and (min-width: 720px) {
  .search-media {
    color: white;
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    margin-top: 100px;
    padding: 10px 0 0 0;
    position: relative;
  }
  .search-media:before {
    content: '';
    display: block;
    width: 200px;
  }

  .form-dropdown {
    display: none;
  }
}
